exclude: '(^docs/conf.py|^user_data/External_tables/|^pyuvsim/data/.+uvfits|^pyuvsim/data/.+beamfits|^pyuvsim/data/.+hdf5|^pyuvsim/data/.+npz|^pyuvsim/data/.+vot|^benchmarking.+log)'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
        - id: trailing-whitespace
        - id: check-added-large-files
        - id: check-ast
        - id: check-json
        - id: check-merge-conflict
        - id: check-xml
        - id: check-yaml
        - id: debug-statements
        - id: end-of-file-fixer
        - id: mixed-line-ending
          args: ['--fix=no']
  -   repo: https://github.com/pycqa/flake8
      rev: '7.0.0'
      hooks:
      -   id: flake8
          additional_dependencies:
            - flake8-bugbear
            - flake8-builtins
            - flake8-comprehensions
            - flake8-docstrings
            - flake8-pytest-style
            - flake8-rst-docstrings
            - pep8-naming

  - repo: https://github.com/Lucas-C/pre-commit-hooks-bandit
    rev: v1.0.6
    hooks:
      - id: python-bandit-vulnerability-check
        args: [--skip, "B101", --recursive, pyuvdata]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)

    # - repo: https://github.com/psf/black
    #   rev: 19.10b0
    #   hooks:
    #       - id: black
