include *.md
include LICENSE
include pyuvsim/VERSION
include pyuvsim/GIT_INFO
recursive-include pyuvsim/data *
recursive-include docs *
recursive-include reference_simulations *
exclude docs/.DS_Store
prune docs/.build
prune docs/__pycache__
