name: External Tests
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pyuvsim:
    name: herasim
    runs-on: ubuntu-latest
    defaults:
      run:
        # Adding -l {0} helps ensure conda can be found properly.
        shell: bash -l {0}
    env:
      ENV_NAME: tests
      PYTHON: 3.8

    steps:
      - uses: actions/checkout@main
        with:
         fetch-depth: 1
      - name: clone hera_sim
        run: |
          cd ../
          git clone https://github.com/HERA-Team/hera_sim.git
          cd pyuvsim
      - name: Setup Minimamba
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true
          python-version: ${{ env.PYTHON }}
          environment-file: ../hera_sim/ci/${{ env.ENV_NAME }}.yaml
          activate-environment: ${{ env.ENV_NAME }}

      - name: Conda Info
        run: |
          conda info -a
          conda list
          PYVER=`python -c "import sys; print('{:d}.{:d}'.format(sys.version_info.major, sys.version_info.minor))"`
          if [[ $PYVER != ${{ env.PYTHON }} ]]; then
            exit 1;
          fi

      - name: run herasim tests
        run: |
          pip install --no-deps .
          cd ../
          cd hera_sim
          pip install --no-deps .
          mkdir test-reports
          python -m pytest hera_sim --junitxml=test-reports/xunit.xml
